<!DOCTYPE html>

    {% extends 'courses/base.html' %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>Scorecard</title>

	{% load render_table from django_tables2 %}

</head>
<body>

	{% block content %}

	<h2>Round at {{ scorecard.course.course_name }}, {{ scorecard.date_played }}</h2>

    <!-- Style for table -->
    <style scoped>
        table, th, td {
            border: groove;
        }

        td, th {
            width: 50px;
            text-align: center;
        }

    </style>

    <table>
        <!-- Row for hole number -->
        <tr>
            <th>
                <b>Hole</b>
            </th>
            {% for hole in holes %}
            <th>
                {{ hole.hole_number }}
            </th>
            {% endfor %}
            <th>
                Total
            </th>
        </tr>
        <!-- Row for hole par -->
        <tr>
            <td>
                <b>Par</b>
            </td>
            {% for hole in holes %}
            <td>
                {{ hole.hole_par }}
            </td>
            {% endfor %}
            <!-- Column for total par -->
            <td>
                {{ scorecard.round.total_par }}
            </td>
        </tr>
        <!-- Row to show score -->
        <tr>
            <td>
                <b>Score</b>
            </td>
            {% for score in scores %}
            <td>
                {{ score.score }}
            </td>
            {% endfor %}
            <!-- Column for total score -->
            <td>
                {{ scorecard.total_score }}
            </td>
        </tr>
    </table>

	{% endblock %}
</body>
</html>