<!DOCTYPE html>

{% extends 'courses/base.html' %}
{% load static %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Round select</title>

    <link rel="stylesheet" type="text/css" href="{% static 'scorecards/style.css' %}">
</head>
<body>

    {% block content %}

    <h3>Select round at {{ course.course_name }}:</h3>

    <hr />

    <div class="row">
        {% for round in rounds %}
        <!-- Print card for each round -->
        <div class="col-sm-3">
            <form action="." method="post">
                {% csrf_token %}
                <div class="card card-body" id="round_card">
                    <h4 class="card-title">{{ round.name }}</h4>
                    <p>Par: {{ round.total_par }}</p>
                    <input type="hidden" name="selected_round" value="{{ round }}" />
                    <input type="hidden" name="course" value="{{ course }}" />

                    <input class="btn btn-primary" type="submit" value="Select" />
                </div>
            </form>
        </div>
        {% endfor %}
    </div>
    
    {% endblock %}
</body>
</html>