<!DOCTYPE html>

{% extends 'courses/base.html' %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    {% block content %}
    
    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <div class="card card-body" style="margin-bottom: 10px">
                    <h5>Profile page for {{ profile_user }}</h5>
                    <hr />
                    <h5>Menu</h5>
                    <hr />
                    <form method="post" action="{% url 'users:add_friend' %}">
                        {% csrf_token %}
                        <input type="hidden" value="{{ profile_user }}" name="friend" />
                        <input class="btn btn-primary" type="submit" value="Add friend" />
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card card-body">
                {% if friends %}
                    <p>User has friends!</p>
                {% else %}
                    <p>Users has no friends yet!</p>
                {% endif %}
            </div>
        </div>
    </div>

    {% endblock %}

</body>
</html>