<!DOCTYPE html>

{% extends 'courses/base.html' %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    {% block content %}
    
    <div class="row">
        <div class="col-sm-3">
            <div class="card card-body">
                <h5>Profile page for {{ user }}</h5>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card card-body">
                {% if friends %}
                    <p>You have friends!</p>
                {% else %}
                    <p>You have no friends yet!</p>
                {% endif %}
            </div>
        </div>
    </div>

    {% endblock %}

</body>
</html>