<!DOCTYPE html>

{% extends 'courses/base.html' %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

    {% load render_table from django_tables2 %}

</head>
<body>

    {% block content %}

    <h3>Create a new hole for {{ course.course_name }}:</h3>

    {% render_table holetable %}

    <div class="form-group">
        <form action="." method="post">
            {% csrf_token %}


                <label>Hole number</label>
                {{ form.hole_number }}

                <label>Hole par</label>
                {{ form.hole_par }}


                <label>Hole length</label>
                {{ form.hole_length }}


            <input class="btn btn-primary" type="submit" value="Add!" style="margin-left: 10px;"/>

    </form>
    </div>
    {% if hole %}

    <div class="alert alert-success" role="alert" style="margin-top: 10px">
        Added hole {{ hole.hole_number }} to {{ course.course_name }}!
    </div>

    {% endif %}

    {% if error %}

    <div class="alert alert-danger" role="alert" style="margin-top: 10px">
        {{ error }}
    </div>

    {% endif %}

    {% endblock %}
</body>
</html>