<html>

{% load static %}

<head>
    <title>StatisticalDisc</title>

    <!-- Load CSS, Bootstrap and fonts -->
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'courses/style.css' %}">
</head>
<body>

    <!-- Menu -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: cadetblue;">
        <a class="navbar-brand" href="/courses" style="font-family: 'Rubik', sans-serif;">StatiDisc</a>
        <!-- Navbar toggler if page is too small to show it all -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- Home button -->
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/courses">Home<span class="sr-only">(current)</span></a>
                </li>
                <!-- Courses dropdown menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Courses
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/courses/courseoverview">Overview</a>
                        <a class="dropdown-item" href="/courses/coursecreate">Create course</a>
                    </div>
                </li>
                <!-- Scorecard dropdown menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Scorecards
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/scorecards">Overview</a>
                        <a class="dropdown-item" href="/scorecards/select_course">Create card</a>
                    </div>
                </li>
                <!-- Test dropdown menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tests
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">JavaScript</a>
                        <a class="dropdown-item disabled" href="#">Leaflet</a>
                    </div>
                </li>
                <!-- Some other links -->
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <div class="my-2 my-lg-0">
                <form method="post" action="/../users/logout/">
                    {% csrf_token %}

                    Logged in as: {{ user.username }}
                    <button type="submit" class="btn btn-primary btn-sm" style="background-color: black; padding-left: 10px;">Log out</button> <!-- This part needs fix! -->
                </form>
            </div>
            {% else %}
            <form method="POST" action="/users/auth_user" class="form-inline ml-auto">
                {% csrf_token %}

                <input class="form-control form-control-sm ml-2" name="username" type="text" placeholder="Username">
                <input class="form-control form-control-sm ml-2" name="password" type="password" placeholder="Password">
                <button class="btn btn-primary btn-sm ml-2" type="submit" style="background-color: black">Log in</button>
            </form>
            {% endif %}
        </div>
    </nav>

    <!-- Render body -->
    <div class="container-fluid" style="padding-top: 10px">
        <!-- Content block -->
        {% block content %}


        {% endblock %}

        <!-- Footer -->
        <footer>
            <div class="footer">
                <p class="text-muted" style="font-size: 14px">StatiDisc build 2017</p>
            </div>
        </footer>
    </div>

    <!-- Load JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
    
    <!-- Block for including scripts on pages -->
    {% block scripts %}

    {% endblock %}

</body>
</html>